integers: represenattion is in nwhole numbers [0-9]

In [ ]:
x=10
y=20
z=30 #data type is  integer for4mat
print( x, y , z)

10 20 30

In [ ]:
a=-10
b=0
c=-33
print(a,b,c)

-10 0 -33

operations of integers

In [ ]:
total_students=100
passed_students=40
failed_students=total_students-passed_students #substraction - operator
print(failed_students)

60

In [ ]:
s=34
t=4
u=s*t #multiplication * operator
print(u)

136

In [ ]:
#float data type -- represented in decimal point floating point(10.6,11.3)
height=5.7
weight=34.6
bmi=weight/height**2
print(bmi)

1.0649430594028932

In [ ]:
#area of a circle pi*r^2
r=5.7 #floting point int
area=3.14*r**2
print(area)

102.0186

In [ ]:
print(type(area))

<class 'float'>

In [ ]:
x=10.3
print(x)
print(type(x))

10.3
<class 'float'>

In [ ]:
#complex number a+bi
x= 3+4j
print(x)
print(type(x))

(3+4j)
<class 'complex'>

numeric data type is often used in add, mul , sub , div, expo, floor division  and bitwise operation

In [ ]:
#containere data type str4ings
#strings- set of charcters in single/double characters

name="haneefa qayuum"
print(name)
print(type(name))

haneefa qayuum
<class 'str'>

In [ ]:
my_string = "this is a string" #string creation
print(my_string)

this is a string

In [ ]:
x= "python progamming"
#access the aplhabaet in string
print(x[0:6]) #positive indexing

python

In [ ]:
print(x[-1]) #negative indexing

g

In [ ]:
print(x[-2])

n

In [ ]:
#mirror this whole string #reverse
print(x[::-1])

gnimmarorp nohtyp

In [ ]:
#slicing
print(x[0:11])

python prog

In [ ]:
#string concatenation (merge two strings)
str_1= "haneefa"
str_2= "qayyum"
str_3= str_1+str_2 #addition operator would eventually merge both strings
print(str_3)

haneefaqayyum

In [ ]:
#string concatenation
x='99'
y='88'
z=x+y #merge both x and y
print(z)

9988

In [ ]:
#string repetition
b=str_1 *3 #repeat string 3 times
print(b)

haneefahaneefahaneefa

In [ ]:
#length of string
x= "python progamming"
print(len(x))

17

In [ ]:
#string methods
k="   haneefa qayyum"
print(k.upper()) #converet the string to upper case
print(k.lower()) #convert string to lower case
print(k.capitalize()) #the first word
print(k.title()) #convert the first alphabet of each word
print(k.swapcase()) #convert the upper to lower and vice versa
print(k.strip()) #remove the white spaces

   HANEEFA QAYYUM
   haneefa qayyum
   haneefa qayyum
   Haneefa Qayyum
   HANEEFA QAYYUM
haneefa qayyum

In [ ]:
#string formatting - f string
name="alice"
age=30
f"hello my name is {name} and i am {age} year old!!!!"

'hello my name is alice and i am 30 year old!!!!'

In [ ]:
#memebership function in strings (in)
x= "python programming"
print('p' in x)
print('z' not in x)

True
True

In [ ]:
#find the occurences of aplhabet in string
count=x.count('p')
print(count)

2

In [ ]:
#slicing #u can acess some part/chunk of that list(/pizza)
x=[3,4,5,6,7,8,9,10,11,12]
print(x[1:2:9])

[4]

In [ ]:
x=[3,4,5,6,7,8,9,10,11,12]
print(x[1:10:2])

[4, 6, 8, 10, 12]

In [ ]:
print(x[0:10:2])

[3, 5, 7, 9, 11]

In [ ]:
x=[1,2,3,4,5] #1-dimensional
y=[[1,2,3],[4,5,6],[7,8,9]] #2-dimensional
z=[[[1,2,3],[4,5,6],[7,8,9]]] #3-dimensional
print(x)
print(y)

In [ ]:
y=[[1,2,3],[4,5,6],[7,8,9]]
print(y[1][2])

6

In [ ]:
z=[[[1,2,3],[4,5,6],[7,8,9]]] #3-dimensional
print(z[0][2][1])

8

In [ ]:
student=[[["hugh school", 'junio sch'],[1000, 500],['B','G','R','Y']]] #3 dimensional list
print(student[0][2][3])

Y

tuples- another data type
represented as  ( )

In [ ]:
#create a tuple
tup_z=(1,2,3,4,5) #round brackets

#immutability charcteristioc of tuple #item assighmenmt is not allowed
tup_z[3]=77
print(tup_z)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup_1=(12,13.5,"haneefa",3+4j)
print(tup_1)

(12, 13.5, 'haneefa', (3+4j))

In [ ]:
#immutability - we cannot modify the elements (no alteration , no changeability)
tup_1[2]="qayyum"
print(tup_1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#heterogeneous property of tuples
tuple_=[11,12,13,"nbanana", "apple","orange",13.5,14.6,16.7] #different data type can be entered insilde the tuple
print(tuple_)

[11, 12, 13, 'nbanana', 'apple', 'orange', 13.5, 14.6, 16.7]

In [ ]:
#operations
#empty tuple
empty_tuple=()
print(empty_tuple)

()

In [ ]:
#single element tiuple
single_tuple=(10,)
print(single_tuple)

(10,)

In [ ]:
#multiple element tuple
mul_tuple=(10, "haneefa", 44.5)
print(mul_tuple)

(10, 'haneefa', 44.5)

In [ ]:
#accesing (indexing)
tuple_=("apple", "orange", "banana", "grapes")
print(tuple_[2])
print(tuple_[-1])

banana
grapes

In [ ]:
tupx=("haneefa")
print(tupx[1])
print(tupx[-1])
print(tupx[-2])
print(tupx[0])

a
a
f
h

In [ ]:
#slicing -- u take a portion of data -- u take a slice of pizza from the whole one
tx=("haneefa")
print(tx[0:2])

ha

In [ ]:
print(tx[0:4])

hane

In [ ]:
print(tx[0:7:2])

hnea

In [ ]:
print(tx[0: ])

haneefa

In [ ]:
print(tx[ : ])

haneefa

In [ ]:
print(tx[ :4])

hane

In [ ]:
print(tx[:-1])

haneef

In [ ]:
#mirroring effect #reversing the tuple
tx="haneefa"
print(tx[::-1])

afeenah

In [ ]:
#concatenation #merge the entire tuples into a single tuple #join
tupa=(1,2,3)
tupb=(4,5,6)
tupc=(7,8,9)
tupd=tupa+tupb+tupc #+ operatorn is used for concatenation
print(tupd) #merges to create a single tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
#repettion is allowed in tuple
tupa=(1,2,3)
rep_tuple=tupa*4
print(rep_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#MEASURE TYHE LENGTH OF TUPLE #len method is used to calculate the lenghth iof tuple
rep_tuple=tupa*4
print(len(rep_tuple))

12

In [ ]:
#memebership test finction (in , not in ) ,, while the element exist in the tuple or not
print("haneefa" in rep_tuple)
print("haneefa" not in rep_tuple)

False
True

In [ ]:
#occurerences/repetion of count
h=(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3,3,3,3,3,3,3,3,3)
print(h.count(3))

12

In [ ]:
#nested tuples inside a tuple
nested_tuple=((1,2,3),(4,5,6),(7,8,9))

print(nested_tuple[2])

(7, 8, 9)

set data type

In [ ]:
set_x={1,2,3,4,5}  #set of integers
print(set_x)

{1, 2, 3, 4, 5}

In [ ]:
set1={1,2,"haneefa",3+4j}  #heteregenous property of set
print(set1)

{'haneefa', 1, 2, (3+4j)}

In [ ]:
setz={1,2,3,4,5,6} #add a new element
setz.add(7)
print(setz)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
setz.remove(5)
print(setz)

{1, 2, 3, 4, 6, 7}

In [ ]:
setz.remove(99) #remove will raise an error
print(setz)

KeyError: 99

In [ ]:
setz.discard(2)
print(setz)

{1, 3, 4, 6, 7}

In [ ]:
setz.discard(98)
print(setz) #it will not raise the error

{1, 3, 4, 6, 7}

In [ ]:
#copy a set
setq={1,3,5,7,8}
setw=setq.copy() #they have same elements #two differentb sets in memory
print(setw)

{1, 3, 5, 7, 8}

In [ ]:
print(setw)

{1, 3, 5, 7, 8}

In [ ]:
setw.add(55)
print(setw)

{1, 3, 5, 55, 7, 8}

In [ ]:
print(setq)

{1, 3, 5, 7, 8}

In [ ]:
#check the memebership(element exist in the set or not)
print( 88 in setw)
print( 77 not in setw)

False
True

In [ ]:
#union of 2 sets
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#intersectrion of sets #pick the common elements
setx={1,2,3}
sety={2,3,4}
setz=setx.intersection(sety)
print(setz)

{2, 3}

In [ ]:
#differenc eof 2 sets #print all the elements of A which is not in B
A={1,2,3}
B={2,3,4}
setz=A.difference(B)
print(setz)

{1}

In [ ]:
#differenc eof 2 sets #print all the elements of B which is not in A
A={1,2,3}
B={2,3,4}
setz=B.difference(A)
print(setz)

{4}

In [ ]:
#symmetric difference #just take unique eleements from both sets
A={1,2,3,7,8}
B={2,3,4,66,77}
setz=A.symmetric_difference(B)
print(setz) #un ordered property in sets

{1, 4, 66, 7, 8, 77}

In [ ]:
#removing the duplicates from the lsit
my_list=[1,1,2,2,3,4,5,5,6,6]
unique_list=set(my_list) #remove the duplication
print(unique_list)

TypeError: 'set' object is not callable

In [ ]:
setf={1,1,3,3,4,4,5,5}
print(setf) #removing the duplicates

{1, 3, 4, 5}

In [ ]:
haneffalisty=[1,1,3,3,4,4,5,5]
print(haneffalisty)

unique_elements=set(haneffalisty) #remove the duplication
print(unique_elements)

[1, 1, 3, 3, 4, 4, 5, 5]

TypeError: 'set' object is not callable

dictionaries: collection of {key-value} pairs..

In [1]:
my_dict={} #empty dictionary
print(my_dict)

{}

In [2]:
my_dictt={"alice":20,"bob":30,"carol":25,"haneefa":45}#dict literal #key and their corresponding values
print(my_dictt)

{'alice': 20, 'bob': 30, 'carol': 25, 'haneefa': 45}

In [3]:
#using the dictiuonary constructorr #round brackets
#Vvariablename=dict()
my_dict=dict(name="haneefa",age=25, country="UK")#dynamic dictioanry #create a dictionary using dict function with initial values
print(my_dict)

{'name': 'haneefa', 'age': 25, 'country': 'UK'}

In [11]:
#dictioanry operations
my_dictt={"alice":20,"bob":30,"carol":25,"haneefa":45}
print(my_dictt['alice']) #in accesing the value , you've to give the key

20

In [12]:
print(my_dictt['haneefa'])

45

In [19]:
#access the value by using get()
print(my_dictt.get("bob"))

30

In [20]:
print(my_dictt.get("haneefa"))

45

In [22]:
my_dictt={"alice":20,"bob":30,"carol":25,"haneefa":45}
my_dictt['country']='USA' #adding a new eleement   #property of being mutable
print(my_dictt)

{'alice': 20, 'bob': 30, 'carol': 25, 'haneefa': 45, 'country': 'USA'}

In [23]:
my_dictt['bob']=32 #update the  existing value
print(my_dictt)

{'alice': 20, 'bob': 32, 'carol': 25, 'haneefa': 45, 'country': 'USA'}

In [24]:
del my_dictt['alice'] #delete the element in dict
print(my_dictt)

{'bob': 32, 'carol': 25, 'haneefa': 45, 'country': 'USA'}

In [25]:
#memebership function
print('bob' in my_dictt)
print('bob' not in my_dictt)

True
False

In [27]:
print(my_dictt.keys())

dict_keys(['bob', 'carol', 'haneefa', 'country'])

In [28]:
print(my_dictt.values())

dict_values([32, 25, 45, 'USA'])

In [29]:
print(my_dictt.items()) #key-value pair

dict_items([('bob', 32), ('carol', 25), ('haneefa', 45), ('country', 'USA')])

In [30]:
print(len(my_dictt))

4

In [31]:
print(my_dictt.update())

None

In [32]:
#iterarete over the keys
for i in my_dictt:
  print(i)

bob
carol
haneefa
country

In [35]:
for i in my_dictt.values():
  print(i)

32
25
45
USA

In [36]:
for i in my_dictt.items():
  print(i)

('bob', 32)
('carol', 25)
('haneefa', 45)
('country', 'USA')

In [37]:
for key,value in my_dictt.items(): #iterate over the key-value pairs
  print (f"{key}:{value}")

bob:32
carol:25
haneefa:45
country:USA

In [38]:
dict1={"name":"haneefa","age":25,"country":"UK"}
dict2={"city":"london","gender":"female"}
dict1.update(dict2) #merge two dictionaries #join them and give the result in one dictianry
print(dict1)

{'name': 'haneefa', 'age': 25, 'country': 'UK', 'city': 'london', 'gender': 'female'}

In [40]:
#storing thr persnal informartion of hanefa in dictinary
person={
    "name":"haneefa",
    "age":25,
    "city":"london",
    "country":"UK",
    "gender":"female",
    "hobbies":["reading","cooking","traveling"],
    "address":{
        "street":"123 main st",
        "city":"london",
        "country":"UK"}
}

print(person['hobbies'])
print(person['address'])
print(person['name'])

['reading', 'cooking', 'traveling']
{'street': '123 main st', 'city': 'london', 'country': 'UK'}
haneefa