map

In [1]:
#map(function,iterable)
numbers=[1,2,3,4,5,6] #iterable ,list
#square of each element in the list
squared_num=list(map(lambda x:x**2,numbers)) #apply square to each element
print(squared_num)

[1, 4, 9, 16, 25, 36]

In [2]:
numbers=[1,2,3,4,5] #iterable ,list
squared_numbers=map(lambda x:x*x,numbers) #its an iterator

#get the first number squred
first_squared=next(squared_numbers) #next element of iterator
print(first_squared)

1

In [3]:
second_squared=next(squared_numbers)
print(second_squared)

4

In [4]:
third_squared=next(squared_numbers)
print(third_squared)

9

In [ ]:
#memory efficient
#large dataset= it would requireed a significant amount of memeoryu to store all the results
#on demand generation  --iterator -- whn yopu ask for it

In [5]:
celcius=[0,20,37,100]
fahrenheit=list(map(lambda x:(x*9/5)+32,celcius)) #convert celcius to farenhiet
print(fahrenheit)

[32.0, 68.0, 98.6, 212.0]

In [6]:
num=[5,10,15]
updated_nums=list(map(lambda x:x+10,num)) #add 10 to each element
print(updated_nums)

[15, 20, 25]

In [7]:
names=["john","muzaffer", "ali"]
uuper_names=list(map(lambda x:x.upper(),names)) #convert to upper case
print(uuper_names)

['JOHN', 'MUZAFFER', 'ALI']

In [8]:
list1=[1,2,5]
list2=[4,5,6]
product=list(map(lambda x,y:x*y,list1,list2)) #multiplying the corresponding values
print(product)

[4, 10, 30]

In [9]:
words=["hello", "hey", "can", "i", "ask", "you", "something"]
exclmtion=list(map(lambda x:x+"!",words)) #add ! to each element #iterator is going to each elementu and adding ! to each word
print(exclmtion) #memory minimization

['hello!', 'hey!', 'can!', 'i!', 'ask!', 'you!', 'something!']

In [10]:
num=[1,2,3,4,5,6]
is_even=list(map(lambda x:x%2==0,num)) #check if the number is even
print(is_even) #true false

[False, True, False, True, False, True]

In [14]:
sentences=["hello world", "python programming"]
underscore=list(map(lambda x:x.replace(" ","_"), sentences))
print(underscore)

['hello_world', 'python_programming']

reeduce()--cumulative result--single elemnt

-single cummulative result

In [16]:
from functools import reduce

In [17]:
numbers=[1,2,3,4,5]
sum_num=reduce(lambda x,y:x+y,numbers) #add all the elements
print(sum_num)

15

In [18]:
numbers=[1,2,3,4,5]
product=reduce(lambda x,y:x*y,numbers) #multiply all the elements
print(product)

120