map

In [ ]:
#map(function,iterable)
numbers=[1,2,3,4,5,6] #iterable ,list
#square of each element in the list
squared_num=list(map(lambda x:x**2,numbers)) #apply square to each element
print(squared_num)

[1, 4, 9, 16, 25, 36]

In [ ]:
numbers=[1,2,3,4,5] #iterable ,list
squared_numbers=map(lambda x:x*x,numbers) #its an iterator

#get the first number squred
first_squared=next(squared_numbers) #next element of iterator
print(first_squared)

1

In [ ]:
second_squared=next(squared_numbers)
print(second_squared)

4

In [ ]:
third_squared=next(squared_numbers)
print(third_squared)

9

In [ ]:
#memory efficient
#large dataset= it would requireed a significant amount of memeoryu to store all the results
#on demand generation  --iterator -- whn yopu ask for it

In [ ]:
celcius=[0,20,37,100]
fahrenheit=list(map(lambda x:(x*9/5)+32,celcius)) #convert celcius to farenhiet
print(fahrenheit)

[32.0, 68.0, 98.6, 212.0]

In [ ]:
num=[5,10,15]
updated_nums=list(map(lambda x:x+10,num)) #add 10 to each element
print(updated_nums)

[15, 20, 25]

In [ ]:
names=["john","muzaffer", "ali"]
uuper_names=list(map(lambda x:x.upper(),names)) #convert to upper case
print(uuper_names)

['JOHN', 'MUZAFFER', 'ALI']

In [ ]:
list1=[1,2,5]
list2=[4,5,6]
product=list(map(lambda x,y:x*y,list1,list2)) #multiplying the corresponding values
print(product)

[4, 10, 30]

In [ ]:
words=["hello", "hey", "can", "i", "ask", "you", "something"]
exclmtion=list(map(lambda x:x+"!",words)) #add ! to each element #iterator is going to each elementu and adding ! to each word
print(exclmtion) #memory minimization

['hello!', 'hey!', 'can!', 'i!', 'ask!', 'you!', 'something!']

In [ ]:
num=[1,2,3,4,5,6]
is_even=list(map(lambda x:x%2==0,num)) #check if the number is even
print(is_even) #true false

[False, True, False, True, False, True]

In [ ]:
sentences=["hello world", "python programming"]
underscore=list(map(lambda x:x.replace(" ","_"), sentences))
print(underscore)

['hello_world', 'python_programming']

reeduce()--cumulative result--single elemnt

-single cummulative result

In [3]:
from functools import reduce

In [4]:
numbers=[1,2,3,4,5]
sum_num=reduce(lambda x,y:x+y,numbers) #add all the elements
print(sum_num)

15

In [5]:
numbers=[1,2,3,4,5]
product=reduce(lambda x,y:x*y,numbers) #multiply all the elements
print(product)

120

In [6]:
numbers=[3,7,2,9,5]
max_num=reduce(lambda x,y:x if x>y else y,numbers) #find the maximum number
print(max_num)

9

In [7]:
numbers=[3,7,2,9,5]
min_num=reduce(lambda x,y:x if x<y else y,numbers) #find the minimum number
print(min_num)

2

In [19]:
words=["hello","world","python"]
concatenate=reduce(lambda x,y:x+" "+y,words) #concatenate all the words
print(concatenate)

hello world python

In [21]:
num=[10,5,2]
difference=reduce(lambda x,y: x-y,num) #find the difference between the elements
print(difference)

3

In [27]:
words=["apple","banana","cherry"]
longest_word=reduce(lambda x,y:x if len(x)>len(y) else y,words) #find the longest word
print(longest_word) #lambda returns the second argument if their sizes are equal

cherry

In [28]:
words=["cat","apple","banana","dog"]
last_word=reduce(lambda x,y:x if x>y else y ,words) #find the last word
print(last_word)

dog

filter () function-filter the elements from the iterable(tuple,list,set) based on some condition.

filter(function , iterable)

In [29]:
nums=[4, 6 ,7,8,10,12,16,18,20]
greater10=list(filter(lambda x:x>10,nums)) #filter the numbers greater than 10
print(greater10)

[12, 16, 18, 20]

In [30]:
numbers=[1,2,3,4,5,6,7,8,9]
even_num=list(filter(lambda x:x%2==0,numbers)) #filter the even numbers
print(even_num)

[2, 4, 6, 8]

In [31]:
numbers=[1,2,3,4,5,6,7,8,9]
odd_num=list(filter(lambda x:x%2!=0,numbers)) #filter the odd numbers
print(odd_num)

[1, 3, 5, 7, 9]

In [32]:
words=["cat","apple","banana","dog"]
greater_length=list(filter(lambda x:len(x)>4,words)) #filter the words greater than 3
print(greater_length)

['apple', 'banana']

In [33]:
numbers=[-3,2,-4,5,-7,8,-9]
positive_num=list(filter(lambda x:x>0,numbers)) #filter the positive numbers
print(positive_num)

[2, 5, 8]

In [34]:
alphabets=['a','b','c','d','e','f','g','h','i','v','o','n','u']
vowels=list(filter(lambda x:x in "aeiou",alphabets)) #filter the vowels
print(vowels)

['a', 'e', 'i', 'o', 'u']

In [38]:
words=["radar", "even","mom", "dad","code","deed"]
palindromes=list(filter(lambda x:x==x[::-1],words)) #filter the palindromes
print(palindromes)

['radar', 'mom', 'dad', 'deed']