data ypes

In [ ]:
#integer data type
x=10 #integer value
y=20  #int value
z=x+y
print(x+y)

30

In [ ]:
#python is dynamically typed-- you dint have the declare the type of varuiable
x=10
print(x)
print(type(x))

10
<class 'int'>

In [ ]:
#numeric operations
x=5
y=2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)  #modulus operator(remainder)
print(x**y)
print(x//y) #quotient , integer value only (floor division)

In [ ]:
x=10
y=3
z=x//y
print(z)

3

In [ ]:
#negarive integrs
x=-10
print(abs(-10))  #absolute only the positive value of an integer

10

In [ ]:
#floating point
height_mehreen=5.7 #flaoting point integer
weight_mehreen=60.5
bmi=weight_mehreen/height_mehreen**2
print(bmi)

1.8621114188981225

In [ ]:
print(type(bmi))

<class 'float'>

In [ ]:
#currency exchange financial caluclation
usd_amount=100.0
exchange_rate=0.85
eur_amount=usd_amount*exchange_rate
print(eur_amount)
print(f"equivalent in EUR: {eur_amount: .2f}") #format to 2 decimal places

85.0
equivalent in EUR:  85.00

In [ ]:
#image processing #rgb to gray scale
pixel_red=0.3
pixel_green=0.6
pixel_blue=0.1
gray_scale=pixel_red*0.299+pixel_green*0.587+pixel_blue*0.114
print(gray_scale)

0.4533

In [ ]:
#normalisation( float point to scale[0-1])-min-max scaling , scandard scaler #contribute equally to ML predicitve modelling
orig_value=85
min_value=80
max_value=100
norm_value=(orig_value-min_value)/(max_value-min_value)
print(f" scaled_value: {norm_value}")

 scaled_value: 0.25

In [ ]:
#complex number representtion
a=3+4j
b=2+3j
z=a+b
print(z)

print(type(z))

(5+7j)
<class 'complex'>

text-summary

code-- execution

visulisation of the result

couple all the things -- ipynb  offer all 3 things in one frame

List- data type opoerations

In [ ]:
list_1=[1,2,3,4,5,6,7]
print(list_1)  #baisc initialization of list using [ ]

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#ordered #lemem access the first element
print(list_1[0]) #gaurantees that list elements are ordered naturally

1

In [ ]:
print(list_1[1])

2

In [ ]:
#mutability of lists
list_x=[90 , 91 , 92 , 93, 94]
#modify the second element
list_x[1]=100
print(list_x)

[90, 100, 92, 93, 94]

In [ ]:
#dymnamic in nature
list_x.append(200) #functrion to add an element at the last of list
print(list_x)

[90, 100, 92, 93, 94, 200]

In [ ]:
#heteregenous poroperty of list
list_y=[1,2,3,5.7,"mehreen",5+6j,[99,101,111]] #allows the different data type to be addeed into the list
print(list_y)

[1, 2, 3, 5.7, 'mehreen', (5+6j), [99, 101, 111]]

In [2]:
#list allow duplate as well ...'
list_1=[1,2,2,3,3,4]
print(list_1)

[1, 2, 2, 3, 3, 4]

In [3]:
#2 dimensional
list_a=[[1,2,3],[4,5,6,],[7,8,9]]
print(list_a[2][1])

8

In [4]:
#slicing in the list [portion of pizza]
list_y=[1,2,3,4,5,6,7,8,9] #3,4,5,6
print(list_y[2:7])

[3, 4, 5, 6, 7]

In [6]:
list_z=[1,2,3,4,5,6,7,8,9,10] #even numbers #slicing
print(list_z[1:10:2]) #start:end:step

[2, 4, 6, 8, 10]

In [7]:
list_z=[1,2,3,4,5,6,7,8,9,10] #even numbers #slicing
print(list_z[0:10:2]) #start:end:step #odd values

[1, 3, 5, 7, 9]

In [9]:
#access the 3 -dimensional arrays
list_3d=[[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]]
print(list_3d[0][3][1])

11

In [21]:
#mmeebership function #either the 2d list exist as an element or not
print([[1,2,3],[4,5,6],[7,8,9],[10,11,12]] in list_3d)
print(99 not in list_3d)

True
True

In [23]:
x=[1,2,3,4] #1d list
print(3 in x)

True

In [24]:
x.insert(2,99) #by using indexing
print(x)

[1, 2, 99, 3, 4]

In [25]:
x.remove(99)
print(x)

[1, 2, 3, 4]

In [26]:
x.reverse()
print(x)

[4, 3, 2, 1]

In [30]:
#list comprehension #square the numbers
numbers=[1,2,3,4,5,6,7]
squared=[i**2 for i in numbers]
print(squared)

[1, 4, 9, 16, 25, 36, 49]

In [31]:
print(len(squared))

7

In [32]:
my_list=[4,5,6,7,87,8]
for i in my_list:
  print(i)

4
5
6
7
87
8

In [34]:
fruit_basket=["apple","banana","cherry"]
for index in range(len(fruit_basket)):
  print(f"Index{index}:  fruit:{fruit_basket[index]}")

Index0:  fruit:apple
Index1:  fruit:banana
Index2:  fruit:cherry

In [38]:
#enumeration in lists
animal_list=["cat","dog","elephant"]
for index,i in enumerate(animal_list,start=1):
  print(f"Index{index}:  animal:{i}")

Index1:  animal:cat
Index2:  animal:dog
Index3:  animal:elephant

In [39]:
#filter out elements in list
list_c=[1,2,3,4,5,6,7,8,9,10]
for i in list_c:
  if i%2==0: #even numbers
    print(i)

2
4
6
8
10

In [41]:
list_c=[1,2,3,4,5,6,7,8,9,10]
squared_list=[]
for i in list_c:
  squared_list.append(i**2)
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
#repeat the chacracter of list
list=["mehreen"]
repeated_list=[i*4 for i in list]
print(repeated_list)

['mehreenmehreenmehreenmehreen']

In [46]:
word="racecar"
if word==word[::-1]: #mirroring, checking the reverse string
  print(True)
else:
  print(False)

True

In [49]:
def is_palindrome(word): #function is defined
  return word==word[::-1] #logic
word="mom"
if is_palindrome(word): #function called
  print(f"{word} is a palindrome")
else:
  print(f"{word} is not a palindrome")

mom is a palindrome

In [50]:
#creation of tuple
tup_1=(1,2,3,4,5)
print(tup_1)

(1, 2, 3, 4, 5)

In [52]:
#duplicaation in tuple
tup_x=(1,2,3,4,5,555,5,5,5)
print(tup_x)

(1, 2, 3, 4, 5, 555, 5, 5, 5)

In [53]:
#immutabiulity(change/modify the elemnts in tup) #item assiignmemnt is not allowws
tup_x[5]=100
print(tup_x) #doesnt offer immutabiluty

TypeError: 'tuple' object does not support item assignment