In [ ]:
#derfining a variable #characteristric = dynamicaly typed
#vareiables are used to store , manipulate and retrieve the data during program execution
x=5 #variaqble assignment , value 5 is given to variable named x #integer variable
print(x) #printing the value of variable x

5

In [ ]:
print(type(x)) #type casting , in order to know the type of variable

<class 'int'>

In [ ]:
y=11.5
print(y)
print(type(y))

11.5
<class 'float'>

In [ ]:
#string= set of characters in single or double quotaATION
string="haneefa" #string in double quotations
print(string)

haneefa

In [ ]:
name='haneefa'
print(name)

haneefa

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
a=10
b=10.5
c= "python"
d=3+4j
e=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e)) #the type is inferred by default based on the value stored

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [ ]:
#python variables are case-senitive (lower case and upper case are way different from each other), all the variable below are stored in different m,emorery locationbs
age=10
AGE=10
Age=10
aGe=10
agE=10
#all these are identical
print(age)
print(AGE)
print(Age)
print(aGe)
print(agE)

10
10
10
10
10

In [ ]:
#rules for namaing a variable
#it must begin with a letter or underscore(_)
#you cannot start the variable name with a 'digit'
#con contain letter, numbers and underscore "haneefa_123"
#you cannot start a variable mname with a "reserved keywords"
#you cannont use a special character as variable name !@#$%&*^
#case sensitive part
#u cannot use soaces in naming a variable
#you cannot use a hyphen(-) in variable naming
#using a descriptive and meaningful variables names.

In [ ]:
name="haneefa"
_name="haneefa"
_name_="haneefa"
print(_name)

haneefa

In [ ]:
123name="haneefa"
print(123name)

SyntaxError: invalid decimal literal (<ipython-input-12-0a5488ff9aa8>, line 1)

In [ ]:
1name="haneefa" #invalid variable
print(1name)

SyntaxError: invalid decimal literal (<ipython-input-13-e082cc9f7302>, line 1)

In [ ]:
haneefa_123= 12 #valid variable names
_hani21=13
_123_hani=14
hani123_=15
print(haneefa_123)
print(_hani21)
print(_123_hani)
print(hani123_)

12
13
14
15

In [ ]:
#reserved keywords
import keyword
print(keyword.kwlist) #kwlist=keyword

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False=12
print(False)

SyntaxError: cannot assign to False (<ipython-input-17-95f1498cd418>, line 1)

In [ ]:
class=16
print(class)

SyntaxError: invalid syntax (<ipython-input-19-494a132e2159>, line 1)

In [ ]:
for=5 #you cant use a reserved keyword as variable name
print(for)

SyntaxError: invalid syntax (<ipython-input-20-375b63373219>, line 1)

In [ ]:
#!@$%&*^- mspecial characters canoot be used as variable name
#name="python world"
print(#name)

SyntaxError: incomplete input (<ipython-input-21-ef256aae02cb>, line 3)

In [ ]:
@name="python world"
print(@name)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-22-ff6e096a5299>, line 1)

In [ ]:
!name="python world"
print(!name)

SyntaxError: invalid syntax (<ipython-input-23-151e3a970eff>, line 2)

In [ ]:
&name="python world"
print(&name)

SyntaxError: invalid syntax (<ipython-input-24-d8b4bf8d81bf>, line 1)

In [ ]:
%name="python world"
print(%name)

SyntaxError: invalid syntax (<ipython-input-25-f127fc9b3d23>, line 2)

In [ ]:
#why we cannot use special characters as variable names? whats the reaosn behind...

!= not operator
#= use for comments
$= limited scwenerios's as in sstring formatting
%=modulus(remainder)
&= decorators
*= bitwise operation

In [ ]:
total score=100  #spaces are not allowed
print(total score)

SyntaxError: invalid syntax (<ipython-input-26-fc8f997c4017>, line 1)

In [ ]:
total_score=100
print(total_score)

100

In [ ]:
my-student="haneefa"
print(my-student)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-28-de7cd471d8e5>, line 1)

In [ ]:
my_student="haneefa"
print(my_student)

haneefa

In [ ]:
#start with letters (a-z) or (A-Z)
#you can have number(0-9) but not the start

In [ ]:
#use descriptive names to the vareible
#cakculate the area ofd circlre
r=5
a=3.14*r*r #this is a bad way of represenation
print(a)

78.5

In [ ]:
#chhose a meaningful and descriptive way oin ordeer to define a varible
radius=6
area_of_circle=3.14*radius*radius
print(area_of_circle)

113.03999999999999